{% extends "base.html" %}


{% block body %}

    
<div class="container-fluid tm-container-content tm-mt-60">
    <div class="row mb-4">
        <h2 class="col-6 tm-text-primary">
            Latest Photos
        </h2>
        
    </div>

    <div class="row tm-mb-90 tm-gallery">
        {% for i in data %}
        <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 col-12 mb-5">
            <figure class="effect-ming tm-video-item">
                <img src="/{{i.Image}}" alt="Image" class="img-fluid" height='100px'  width='250px' >
                <figcaption class="d-flex align-items-center justify-content-center">
                    <h2>{{i.dog_type}}</h2>
                    <a href="photo-detail.html">View more</a>
                </figcaption>                    
            </figure>
            <div class="d-flex justify-content-between tm-text-gray">
                <span class="tm-text-gray-light">18 Oct 2020</span>
                <span>9,906 views</span>
            </div>
        </div>
        {% endfor %}
        
            
    </div> <!-- row -->
    
</div> <!-- container-fluid, tm-container-content -->


{% endblock body %}